@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*cards */
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif ;

}
body {
    display: grid;
    justify-content: space-between;
    background-color: #2a323a;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    overflow: hidden;
}
main {
    margin-left: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    width: 192%;
}  
  /*navbar */
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.1rem;
    letter-spacing: 0.2ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    body {
      overflow: scroll;
      background: #141418;
      overflow: hidden;
    }
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  .nav-item,.logo {
    width: 7vh;
    
  }
    main {
      margin: 0;
      padding: 0;
      margin-left: -20vh;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      background: #141418;
    }
  }
 
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
/*end of navbar */
/*Intern Navigation */
.container {
    position: relative;
    width: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgba(0,0,0,0.05);
    background-blend-mode: white   ;
    margin: 30px 10px ;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    background: #3899ec
}
.container .card:hover {
    height: 350px;
}

.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content  {
    position: relative;
    margin-top: -140px ;
    padding: 10px 15px;
    text-align: center;
    color: #ffff;
    visibility: hidden ;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-size: 15px ;

}
.container .card:hover .content {
    visibility: visible ;
    opacity: 1;
    margin-top: -40px ;
    transition-delay: 0.3s;
}
.button {
    background-color: transparent;
    border: 1px;
    color: white;
    padding: 0.5vh 1vh;
    border-radius: 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover {
      background: white;
  }
  /* unvisited link */
a:link {
    color:white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: green;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: double;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }