:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    background: var(--bg-secondary);
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
    color:var(--text-secondary);
}  
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.1rem;
    letter-spacing: 0.2ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    svg {
      width: 35vh;
      height: 15vh;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  .nav-item,.logo {
    width: 7vh;
    
  }
    main {
      margin: 0;
    }
  }
  html {
    font-size: 62.5%;
  }
  
  /* =24px */
  .container__item {
    margin: 0 auto 40px;
  }
  
  .landing-page-container {
    width: 100%;
    min-height: 100%;
    height: 90rem;
    background-image: url("https://s29.postimg.org/vho8xb2pj/landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #09383E;
  }
  
  .content__wrapper {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .coords {
    font-size: 1rem;
    display: inline-block;
    -webkit-transform: rotate(-90deg) translateY(50%);
            transform: rotate(-90deg) translateY(50%);
    float: left;
    position: relative;
    top: 40%;
    letter-spacing: 0.2rem;
    left: -11.5rem;
    margin: 0;
  }
  
  .ellipses-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10.5rem;
  }
  .ellipses-container .greeting {
    position: absolute;
    top: 15.6rem;
    left: 1rem;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    opacity: 0.75;
  }
  .ellipses-container .greeting:after {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #0C383E;
    position: relative;
    top: -0.65rem;
    left: -5.05rem;
  }
  
  .ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
  }
  
  .ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(9, 56, 62, 0.1);
    -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
            animation: ellipsesOrbit 15s ease-in-out infinite;
  }
  .ellipses__outer--thin:after {
    content: "";
    background-image: url("https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
  }
  
  .ellipses__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: #09383E transparent;
    border-width: 2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
            animation: ellipsesRotate 15s ease-in-out infinite;
  }
  
  .ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #09383E;
    top: 5rem;
    right: 6.75rem;
  }
  .ellipses__orbit:before {
    content: '';
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #09383E;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .scroller {
    width: 7.5rem;
    display: inline-block;
    float: right;
    position: relative;
    top: -15%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    overflow: hidden;
  }
  .scroller .page-title {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    display: inline-block;
    float: left;
    margin-top: 1rem;
    z-index: 2;
  }
  .scroller .timeline {
    width: 2.5rem;
    height: 9rem;
    display: inline-block;
    float: right;
    z-index: 1;
  }
  .scroller .timeline .timeline__unit {
    width: 100%;
    height: 0.1rem;
    display: block;
    background-color: #0C383E;
    margin: 0 0 2rem;
    opacity: 0.2;
  }
  .scroller .timeline .timeline__unit.timeline__unit--active {
    opacity: 1;
  }
  .scroller .timeline .timeline__unit.timeline__unit--active:after {
    opacity: 0.2;
  }
  .scroller .timeline .timeline__unit:after {
    content: '';
    width: 70%;
    height: 0.1rem;
    display: block;
    position: relative;
    float: right;
    background-color: #0C383E;
    top: 1rem;
  }
  
  @-webkit-keyframes ellipsesRotate {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(-405deg);
              transform: rotate(-405deg);
    }
  }
  
  @keyframes ellipsesRotate {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(-405deg);
              transform: rotate(-405deg);
    }
  }
  @-webkit-keyframes ellipsesOrbit {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes ellipsesOrbit {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #696969;
    --text-secondary: #000000;
    --bg-primary: #F5FFFA;
    --bg-secondary: #F0FFF0;
  }
  
  .solar {
    --text-primary: #FFFAFA;
    --text-secondary: #F8F8FF;
    --bg-primary: #187bcd;
    --bg-secondary: #1167b1;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  /* FAQ section */ 
  h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #7303c0;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #ffffff;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px #ec38bc;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  .control-icon {
    fill: #ec38bc;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  
