@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
body {
    background: var(--bg-secondary);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #3899ec;
  }
  .page-name {
      padding-left: 50rem;
  }
  a {
      text-decoration: none;
      color: #fff;
  }
  .animated-grid {
    --stagger-delay: 100ms;
  }
  @keyframes cardEntrance {
    from {
      opacity: 0;
      transform: scale(0.3);
      filter: grayscale(100%);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: grayscale(0);
    }
  }
  .card {
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
  }
  
  .card:nth-child(1) {
    
    animation-delay: calc(1 * var(--stagger-delay));
  }
  .card:nth-child(2) {
    
    animation-delay: calc(2 * var(--stagger-delay));
  }
  .card:nth-child(3) {
    
    animation-delay: calc(3 * var(--stagger-delay));
  }
  .card:nth-child(4) {
    
    animation-delay: calc(4 * var(--stagger-delay));
  }
  .card:nth-child(5) {
    
    animation-delay: calc(5 * var(--stagger-delay));
  }
  .card:nth-child(6) {
    
    animation-delay: calc(6 * var(--stagger-delay));
  }
  .card:nth-child(7) {
    
    animation-delay: calc(7 * var(--stagger-delay));
  }
  .card:nth-child(8) {
    
    animation-delay: calc(8 * var(--stagger-delay));
  }
  .card:nth-child(9) {
    
    animation-delay: calc(9 * var(--stagger-delay));
  }
  .card:nth-child(10) {
    
    animation-delay: calc(10 * var(--stagger-delay));
  }
  .card:nth-child(11) {
    
    animation-delay: calc(11 * var(--stagger-delay));
  }
  .card:nth-child(12) {
    
    animation-delay: calc(12 * var(--stagger-delay));
  }
  .card:last-child {
    
    animation-delay: calc(13 * var(--stagger-delay));
  }
  
.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  .card div {
      cursor: pointer;
  }
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }
 /* navbar */
 .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 100;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.1rem;
    letter-spacing: 0.2ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  .nav-item,.logo {
    width: 7vh;
    
  }
  .page-name {
      padding-left: 0;
  }
}
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
