@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif ;

}
hr {
    display: none;
}
body {
    overflow-x: hidden;
    display: inline;
}
.home {
    display: none;
}
#our-team-section
{
    width: 100%;
    background: #3899ec; 
    position: absolute;
    z-index: 5;
    padding-bottom: 25%;}

#our-team-title
{
    position: relative;
    font-weight: 300; 
    margin-top: 5%;
    margin-left: 37%;
    font-size: 4vw;
    color: #414141;
}

#team-tile-container
{
    width: 90%;
    margin-left: 5%;
}

#team-left-tile
{
    margin-top: 5%;
    margin-left: 10%;
    width: 35%;
    float: left;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    transition: .3s ease-in-out;
    border-top: #386C74 solid 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#team-right-tile
{
    margin-top: 5%;
    margin-right: 10%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    padding-bottom: 27.5%;
    border-top: #386C74 solid 5px;
    transition: .3s ease-in-out;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#team-right-tile:hover {
    background-color: #7bcbda;
    transition: .3s ease-in-out;
}
#team-left-tile:hover {
    background-color: #7bcbda;
    transition: .3s ease-in-out;
}
.team-name-bio {
    font-size:15px;
    margin:58.9531px 2px 0px 24px;
}

.team-headshot
{
    width: 35%;
    margin-top: 10%;
    margin-left: 32.5%;
    border-radius: 50%;
}

.team-name-banner
{
    position: absolute;
    width: 20%;
    margin-left: 5%;
    margin-top: 0%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 400; 
    font-size: 2.4vw;
    color: #366C75;
}

.team-title-banner
{
    position: absolute;
    width: 20%;
    margin-left: 5%;
    margin-top: 3%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 400; 
    font-size: 1.8vw;
    color: #414141;
}

.team-name-bio
{
    position: absolute;
    width: 25%;
    margin-left: 3.5%;
    margin-top: 8%;
    font-weight: 300; 
    font-size: 1.8vw;
    text-align: center;
    color: #414141;
}

.team-contact
{
    position: absolute;
    width: 31.5%;
    background-color: #ffffff;
    color: #414141;
    margin-left: 0%;
    margin-top: 24%;
    font-weight: 200; 
    font-size: 1.8vw;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    padding-bottom: 5%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.email-tile
{
    position: absolute;
    width: 10%;
    margin-top: -4%;
    margin-left: 0%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
    border-top: #E6E6E6 solid 1px;
}

.phone-tile
{
    position: absolute;
    width: 10%;
    margin-top: -4%;
    margin-left: -50%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
    border-top: #E6E6E6 solid 1px;
}

.phone-tile:hover
{
    background-color: #E6E6E6;
}

.email-tile:hover
{
    background-color: #E6E6E6;
}

/*NAV BAR BEGINS*/
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1 ;
    text-decoration: none;
    position: center;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
.logo a {
    margin:18px 0px 0px;
}
header  {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    padding: 30px 50px;
    position: center;
    background-color: #24252A;
    z-index: 2;
}
section {
    display: flex;
    align-content: space-between ;
    flex-direction: row;
}
.logo {
    cursor: pointer;    
}
.nav_links {
    list-style: none;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.nav_links li {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    
    
}
.Title {
    display: none;
}
.nav_links li a {
    transition: all 0.3 ease 0s;
    margin: 4px 275px 0px 7px;
}

.nav_links li a:hover {
    color: #3899ec;
}
button {
    align-items:flex-start;
background-color:hsla(192, 100%, 33%, 0.8);
border-radius:50px;
color:hsl(195, 12%, 94%);
display:inline-block;
padding:9px 25px;
text-align:center;
margin:15px 0px 0px;
font-size:19.2px;
font-weight:500;
gap:normal;
border: none;
}
button:hover {
    background: rgba(0,136,169,0.8);
}
/*Nav Bar Ends*/


/*Responsive */
@media (max-width: 720px) { 
    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: #3899ec ;
        background-origin: center;
        z-index: 1;
        overflow: hidden;
        
    }
    #our-team-title {
        margin:36.8438px 0px 0px 198px;
    }
    #team-left-tile {
        margin:33.1562px 0px 0px 47px;
    }
    #team-right-tile {
        margin:36.8438px 73.6875px 0px 0px;
    }
    .mail {
        color: black;
    }
    .mail:hover {
        color: #414141;

    }
    .titleC {
        margin:0px 0px 0px 2px;
    }
    .home {
    align-items:center;
    background-color:hsla(192, 100%, 33%, 0.8);
    border-radius:50px;
    color:hsl(195, 13%, 94%);
    font-size:19.2px;
    font-weight:500;
    gap:normal;
    margin:13px 0px 0px 106px; 
    padding:9px 25px;
    text-align:center;
    display: block;
    border: none;
    position: relative;
    }
    .logo .nav_links {
        display: none;
    }
 

    button {
        display: none;
    }
}
