 /* FAQ section */ 
 .FAQ-Main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .FAQ-Phone {
    display: none ;
  }
  @media only screen and (max-width: 600px) {
    .FAQ-Main {
      display: none;
  }
  .FAQ-Phone {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.2);
  }
  .FAQ-Phone h4 {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 32px;
  }
  .FAQ-Phone p {
    background: var(--nav-primary);
    padding: 2rem;
    border-radius: 42px;
  }
  .FAQ-Phone p:last-child{
    margin-bottom: 10rem;
  }
}
  h2 {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    grid-column: 2/3;
  }
  
  details {
    grid-column: 2/3;
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: var(--bg-secondary);
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: var(--text-secondary);
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 0.2px var(--bg-primary);
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  .control-icon {
    fill: var(--text-primary);
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }