* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #187bcd;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
body h1,h2,h3,h4,h5,h6,p {
  color: white;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: auto;
}

.btn{
  border: 1px white;
  background: #262626;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 10px ;
  color: white;
  text-decoration: none;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 50vh;
  background: url("https://images.pexels.com/photos/167538/pexels-photo-167538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: white;
}
.ez-read {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 13px;
}
.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

/* Home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #82bae4;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* Xbox */
.xbox {
  width: 100%;
  height: 40vh;
  background: url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center/cover;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: white;
}

.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
  
}

.xbox p {
  margin: 1vh 0 2vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
}

/* Carbon */
.carbon {
  width: 100%;
  height: 40vh;
  background: url("https://images.unsplash.com/photo-1519791883288-dc8bd696e667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center
    center/cover;
  margin: 5vh 0;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
  display: flex;
  flex-direction: column;
}
.carbon .content p{
  margin: 5px 0px 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 5px;
}
.carbon .content:last-child{
  display: block;
}


@media (max-width: 700px) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    border-radius: 15px;
    padding: 5px;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
  
}
